@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");
*{
  box-sizing: border-box !important;
  margin: 0px ;
  padding: 0px;
}
body,
button {
  font-family: "Inter", sans-serif;
}
:root {
  --offcanvas-width: 270px;
  --topNavbarHeight: 56px;
  --light: #ffffff;
  --grey: #efefef;
}
.modal-open{
  padding: 0 !important;
}
.bg-mix { background: linear-gradient(180deg, var(--light) 50%, var(--grey) 0); }

.navbar{
  background-color: #232F3E;
}
.dropdown-menu.show {
  display: block;
  top: 45px;
  border-radius: 2px;
  border: 1px solid rgba(0,0,0,.1);
}
.dropdown-menu.show::before{
  content: "";
  display: block;
  background: transparent;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #fff;
  position: absolute;
	top: -5px;
	left: 100px;
}
.dropdown-menu.show a{
  font-size: .95rem;
  font-weight: 500;
  transition: .2s;
}
.dropdown-menu.show a:hover{
  font-size: .95rem;
  color: #ffb641;
  background: none;
}

.sidebar-nav {
  width: var(--offcanvas-width);
  background-color: #232F3E;
}
.sidebar-link {
  display: flex;
  align-items: center;
}
.sidebar-link .right-icon {
  display: inline-flex;
}
.sidebar-link[aria-expanded="true"] .right-icon {
  transform: rotate(180deg);
}
main{
  background-color: #efefef
}
.container-extend{
  width: 100%;
  min-height: 100vh;
  position: relative;
}
.container-welcome{
  background-color: var(--light);
}
.container-charts{
  width: 100%;
  margin: auto;
}
.title-box{
  width: 100%;
  background-color: var(--light);
}
.title-box h4{
  margin: 0px;
}

.last_sells-box{
  width: 60%;
  margin: auto;
}
.container-datatable{
  width: 100%;
  margin: auto;
}
.box-btn-acciones{
  display: flex;
  margin: auto;
  justify-content: center;
}
.box-btn-acciones button{
  margin: 3px;
  width: 30px;
  height: 30px;
  font-size: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.box-btn-acciones i{
  color: #fff;
}
.btns-table{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5px;
}
.box-status-active{
  color: #1fac45;
  width: 60%;
  font-size: .9rem;
  display: flex;
  align-items: center;
}
.box-status-active i,
.box-status-suspended i{
  font-size: 1rem;
  font-weight: 800;
  margin-right: 5px;
}
.box-status-suspended{
  width: 60%;
  font-size: .9rem;
  display: flex;
  align-items: center;
  color: #cc594f;
}
/*estilos para la tabla*/
table th {
  background-color: #576677 !important;
  color: white;
  font-weight: normal;
  font-size: .95rem;
}
table>tbody>tr>td {
  vertical-align: middle !important;
}
.btn-delete{
  background-color: #da3752;
}
.btn-edit{
  background-color: #ffb641;
}
.table-responsive .btn-group, btn-group-vertical{
  position: absolute !important;
  max-width: 150px;
  top: -43.2px;
}
/*Ventas recientes*/
.enlace-nueva-venta{
  text-decoration: none;
  color: #232F3E;
}
.enlace-nueva-venta:hover{
  color: #232F3E;
}
.item-nueva-venta{
  position: relative;
}
.status_venta{
  position: absolute;
  right: 0;
  top: 20%;
  padding: 2px 4px;
  border-radius: 4px;
  color: #fff;
  font-size: .85rem;
}
.status_venta.status-nuevo{
  background-color: #da3752;
}
.status_venta.status-abierto{
  background-color: #b1b1b1;
  color: rgb(0, 0, 0);
}
/*Detalle ventas*/
.box-section-sales{
  margin-top: 50px;
}
/*==============*/
/*Banner*/
/*==============*/

.contenedores-banner{
  max-width: 1000px;
  width: 100%;
  margin: 20px auto 0 auto;
  padding: 10px;
}
.contenedor-banner{
  background-color: var(--light);
  margin-bottom: 30px;
  border-radius: 4px;
}
.opciones-banner{
  display: flex;
  padding: 20px 15px;
  justify-content: space-between;
  align-items: baseline;
}
.opciones-banner .titulo-banner h3{
  font-size: 1.1rem;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  color: rgba(0, 0, 0, 0.4);
}
.opciones-banner form{
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: baseline;
}
.box-banner {
  padding-bottom: 20px !important;
}
.box-banner img{
  max-width: 300px;
  width: 100%;
}
/*==============*/
/*Banner*/
/*==============*/
@media (min-width: 992px) {
  body {
    overflow: auto !important;
  }
  main {
    margin-left: var(--offcanvas-width);
  }
  /* this is to remove the backdrop */
  .offcanvas-backdrop::before {
    display: none;
  }
  .sidebar-nav {
    -webkit-transform: none;
    transform: none;
    visibility: visible !important;
    height: calc(100% - var(--topNavbarHeight));
    top: var(--topNavbarHeight);
  }
}
@media(max-width:768px){
  .last_sells-box{
    width: 100%;
    padding: 10px;
  }
}