/*breadcrumbs*/
.breadcrumbs{
    padding: 10px;
    width: 100%;
}
.breadcrumbs .box-breadcrumbs{
    background-color: #fff;
    border-radius: 4px;
    margin: 30px 0 30px 0;
}
.breadcrumbs .breadcrumbs__item{
    display: inline-block;
}
.breadcrumbs .breadcrumbs__item:not(:last-of-type)::after{
    content: '/';
    margin: 0 5px;
    color: #cccccc;
}
.breadcrumbs .bradcrumbs--link{
    text-decoration: none;
    color: #999999;
}
.breadcrumbs .bradcrumbs--link:hover{
    text-decoration: underline;
    color: #F2994A;
}
.breadcrumbs .bradcrumbs--link--active{
    color: #F2994A;
    font-weight: 500;
}
/*breadcrumbs*/
/*Main*/
.main-cart{
    background-color: #f6f6f6;
    height: 100%;
}
/*carrito*/
.container-cart{
    max-width: 1150px;
    margin: auto !important;
    padding:0 0 120px;    
}
.cart-section .cart-container-table{
    margin: 0 auto;
}
.cart-section .cart-container-table table{
    width: 100%;
    border-collapse: collapse;
    background-color: #fff;
    border-radius: 4px;
}
.cart-section .cart-container-table .cart-info{
    display: flex;
    flex-wrap: wrap;
}
.cart-container-table table th{
    text-align: left;
    padding: 5px;
    color: #fff;
    background-color: #f79138;
    font-weight: 400;
    letter-spacing: 1px;
}
.cart-container-table table tr{
    border-bottom: 1px solid rgba(0, 0, 0, 0.027);
}
.cart-container-table table td{
    padding: 10px 5px;
}
.cart-container-table table td p{
    margin: 3px 0;
}
.cart-container-table table td img{
    width: 80px;
    height: 80px;
    margin-right: 10px;
}
.cart-container-table table td button{
    color: #f79138;
    text-transform: capitalize;
    font-size: .75rem;
    letter-spacing: 1px;
    outline: none;
    background: none;
    border: none;
}
.cart-container-table table td input{
    width: 40px;
    height: 30px;
    padding: 5px;
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.1);    
}
/*total carrito*/
.cart-total-container table td{
    padding: 10px 5px;
}
.cart-total-container{
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}
.cart-total-container table{
    border-top: 3px solid #f79138;
    width: 100%;
    max-width: 400px;
    background-color: #fff;
}
table td:last-child{
    text-align: right;
    padding-right: 10px;
}
table th:last-child{
    text-align: right;
    padding-right: 10px;
}