.default-input-form{
    position: relative;
}
.default-input-form input{
    width: 100%;
    border: 1px solid #aaa;
    border-radius: 4px;
    margin: 8px 0;
    outline: none;
    padding: 5px 8px;
    padding-left: 40px;
    transition: .3s;
}
.default-input-form input:focus{
    border-color: var(--secundaryOrange);
}
.default-input-form i{
    position: absolute;
    left: 0;
    top: 8px;
    padding: 9px 10px;
    font-size: 1.1rem;
    color: #aaa;
}

/*seccion facturacion*/
.label_radio_documento{
    align-items: center;
    cursor: pointer;
    width: 100%;
}
.titulo_boleta, .titulo_factura{
    width: 100%;
    background-color: var(--lightBlue);
    height: 60px;
    border-radius: 2px;
    text-align: center;
    line-height: 60px;
    color: #fff;
    margin: 10px 0;
}

.titulo_boleta input, .titulo_factura input{
    display: none;
}

.contenido_factura, .contenido_boleta{
    height: 0;
    overflow: hidden;
    transition: all .3s ease-in-out;
    background-color: #e9e9e9;
}
.contenido_boleta .box-contenido{
    max-width: 600px;
    margin: auto;
}
.contenido_factura .box-contenido{
    max-width: 900px;
    margin: auto;
}
.titulo_boleta.activo ~ .contenido_boleta{
    height: 100px;
    padding-top: 20px;
    overflow: auto;
}
.titulo_factura.activo ~ .contenido_factura{
    height: 300px;
    padding-top: 20px;
    overflow: auto;
}

.titulo_boleta input[type="radio"]:checked + .radio__radio p{
    font-weight: bold;
}
.titulo_factura input[type="radio"]:checked + .radio__radio p{
    font-weight: bold;
}
/*formas de pago*/
.titulo_formas_pago{
    margin: 20px 0;
}
.titulo_formas_pago h4{
    font-size: 1.05rem;
    color: #424242;
    font-weight: 600;
}

.titulo_formas_facturacion{
    margin: 20px 0;
}
.titulo_formas_facturacion h4{
    font-size: 1.05rem;
    color: #424242;
    font-weight: 600;
}

.box-formas-pago .radio__radio{
    position: relative;
    height: 65px;
    border: 1px solid #c7c7c7;
    border-radius: 3px;
    transition: .2s;
    width: 30%;
    text-align: center;
    display: flex;
}
.box-formas-pago .radio__radio img{
    width: 100%;
    margin-left: 40px;
}
.box-formas-pago .radio__radio .icon-selected{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c7c7c7;
    transition: .2s;
}
.box-formas-pago .radio__radio .icon-selected i{
    font-size: 1rem;
    color: #e9e9e9;
}
.box-formas-pago input{
    display: none;
}

.box-formas-pago input[type="radio"]:checked + .radio__radio{
    border-color: var(--verde);
}

.box-formas-pago input[type="radio"]:checked + .radio__radio .icon-selected{
    background-color: var(--verde);
    color: #fff;
}

@media (max-width: 800px) {
    .box-formas-pago .radio__radio{
        width: 100%;
    }
}

