@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Inter", sans-serif;
}
a{
    text-decoration: none;
}
ul,li{
    list-style: none;
}
.contenedor{
    margin: auto;
	width: 90%;
	max-width: 1200px;
}
/*
================
Navbar 
================
*/
.menu{
    padding: 5px 0;
    background-color: #232F3E;
}
.seccion-superior-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.contenedor-logo-nav img{
    width: 100px;
}
.contenedor-opt-usr{
    display: flex;
    min-width: 80px;
    justify-content: flex-end;
}
.contenedor-busq-nav{
    width: 50%;
}
.contenedor-cuenta{
    margin: auto;
}
.contenedor-cuenta .dropdown-link{
    color: #fff;
}
.contenedor-cuenta .dropdown-item i{
    color: #000;
    font-size: 1.2rem;
}
.contenedor-carrito i
{
    color: #fff;
    font-size: 1.2rem;
}
.contenedor-carrito{
    position: relative;
    margin: auto;
}
.contador-carrito{
    position: absolute;
    left: 20px;
    top: -15px;
    width: 18px;
    height: 18px;
    border: 1px solid #fff ;
    color: #fff;
    text-align: center;
    line-height: 15px;
    border-radius: 6px 6px 6px 0px;
    font-size: .9rem;
}
.contenedor-enlaces-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu .contenedor-btn-nav{
    display: none;
    justify-content: space-between;
}
.menu .contenedor-btn-nav button{
    font-size: 1.8rem;
    color: #fff;
    padding: 0px 8px;
    border: 1px solid transparent;
    border-radius: 4px;
    display: inline-block;
    cursor: pointer;
    background: none;
}
.menu .contenedor-btn-nav button:hover{
    border: 1px solid rgba(255, 255, 255, 0.603);
}
.menu .contenedor-btn-nav .btn-menu-cerrar{
   display: none;
}
.menu .contenedor-btn-nav .btn-menu-cerrar.activo{
    display: inline-block;
 }
.btn-categorias{
color: rgba(255, 255, 255, 0.952);
padding: 5px 10px;
border: 1px solid transparent;
border-radius: 4px;
cursor: pointer;
font-size: .9rem;
position: relative;
width: 120px;
border: 1px solid rgba(255, 255, 255, 0.473);
}
.btn-categorias i{
    position: relative;
    left: 3px;
}
.contenedor-enlaces-directos a{
    color: rgba(255, 255, 255, 0.842);
    padding: 5px 10px 5px 10px;
    border-radius: 4px;
    border: 1px solid transparent;
    font-size: .85rem;
    font-weight: 500;
}
.contenedor-enlaces-directos a:hover{
    background: #324255d3;
    border: 1px solid rgba(255, 255, 255, 0.411);
}
/* ------------------------- */
/* GRID */
/* ------------------------- */
.contenedor-grid {
	position: relative;
}
.grid {
	width: 80%;
	display: none;
	position: absolute;
	top: 8px;
	z-index: 1000;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr;
	grid-template-areas: "categorias subcategorias";
}

.grid.activo {
	display: grid;
}

.grid::before {
	content: "";
	display: block;
	background: transparent;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #fff;
	position: absolute;
	top: -5px;
	left: 65px;
}

.grid > div {
	background: #fff;
	box-shadow: 0px 3px 6px rgba(0,0,0,.10);
}

/* ------------------------- */
/* Categorias */
/* ------------------------- */

.grid .btn-regresar {
	background: #232F3E;
	color: #fff;
	border: none;
	padding: 10px;
	border-radius: 3px;
	margin: 20px;
	font-size: 16px;
	cursor: pointer;
	display: none;
}

.grid .btn-regresar i {
	margin-right: 10px;
}

.grid .categorias {
	grid-area: categorias;
	padding-top: 10px;
	min-height: 300px;
	overflow: auto;
}

.grid .categorias .subtitulo {
	display: none;
}

.grid .categorias a {
	color: #000;
	font-size: 14px;
	display: flex;
	justify-content: space-between;
	padding: 10px 20px;
}

.grid .categorias a i {
	display: none;
}

.grid .categorias a:hover {
	color: #E47911;
	font-weight: bold;
}

.grid .categorias a:hover i {
	display: inline-block;
}

/* ------------------------- */
/* Subcategorias */
/* ------------------------- */

.grid .contenedor-subcategorias {
	grid-area: subcategorias;
}
/*nuevo*/
.grid .subcategoria {
	display: none;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	height: 100%;
}

.grid .subcategoria {
	display: grid;
}
.grid .enlaces-subcategoria {
	padding-top: 10px;
	height: 100%;
	max-height: 300px;
	overflow: auto;
}
/*nuevo*/
.grid .enlaces-subcategoria a {
	color: #000;
	font-size: 14px;
	padding: 10px 20px;
}
.grid .subcategoria a{
	display: none;
}
.grid .subcategoria a.activo{
	display: block;
}
/*nuevo*/

.grid .enlaces-subcategoria a:hover {
	color: #E47911;
}
/*nuevo*/
.grid .subtitulo {
	font-size: 18px;
	font-weight: normal;
	color: #E47911;
	padding: 10px 20px;
	display: none;
}

.grid .subtitulo.activo{
	display: block;
}
/*nuevo*/

/* ------------------------- */
/* Mediaqueies */
/* ------------------------- */
@media screen and (max-width: 1000px) {
	.menu .contenedor-enlaces-nav {
		padding: 0 10px;
	}

	.menu .contenedor {
		width: 100%;
	}
}

@media screen and (max-width: 800px) {
	.menu .contenedor {
		width: 90%;
	}

	.menu .contenedor-btn-nav {
		display: flex;
	}

	.menu .contenedor-enlaces-nav {
		padding: 20px;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		position: fixed;
		left: 0;
		background: #232F3F;
		height: 100vh;
		width: 70%;
		z-index: 2000;
		transition: .3s ease all;
		transform: translate(-100%);
	}

	.menu .contenedor-enlaces-nav.activo {
		transform: translate(0%);
	}

	.menu .btn-categorias{
		width: 100%;
		align-items: center;
		justify-content: space-between;
		cursor: pointer;
	}
	.menu .contenedor-enlaces-directos{
        width: 100%;
    }
    .menu .contenedor-enlaces-directos a{
        display: block;
        margin: 10px 0;
        padding: 10px;
    }

	.grid {
		display: grid;
		transition: .3s ease all;
		transform: translateX(-100%);
		z-index: 3000;
		width: 80%;
		position: fixed;
		top: 0;
		left: 0;
		height: 100vh;
		grid-template-areas: "categorias categorias";
	}

	.grid.activo {
		transform: translateX(0%);
	}

	.grid::before {
		display: none;
	}

	.grid .btn-regresar {
		display: inline-block;
	}

	.grid .categorias .subtitulo {
		display: block;
	}

	.grid .contenedor-subcategorias {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		transition: .3s ease all;
		transform: translateX(-100%);
		overflow: auto;
	}

	.grid .contenedor-subcategorias.activo {
		transform: translateX(0%);
	}

	.grid .contenedor-subcategorias .subcategoria {
		grid-template-columns: 1fr;
	}

	.grid .enlaces-subcategoria {
		min-height: 50vh;
		overflow: auto;
	}
}
@media screen and (max-width: 600px){
	.contenedor-busq-nav,
	.contenedor-logo-nav,
	.contenedor-opt-usr {
		display: flex;
		justify-content: center;
		width: 100%;
	}
	.contenedor-opt-usr{
		margin-top: 15px;
	}
}
/*
================ 
Fin Navbar
================
*/
/*
================
footer
================
*/
.footer-top {
    padding-top: 40px;
    padding-bottom: 30px;
 }
 .footer-bottom {
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
 }
 
 footer .footer-links a,
 footer .footer-links p,
 footer .social-icons a {
    color: #898fa1;
 }
 
 footer .social-icons a {
    font-size: 24px;
 }
 
 footer .footer-links a {
    display: block;
    font-weight: 400;
 }
 
 footer .social-icons a:hover,
 footer .footer-links a:hover {
    color: #eba117;
 }