@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Inter", sans-serif;
}
a{
    text-decoration: none;
}
ul,li{
    list-style: none;
}
.contenedor{
    margin: auto;
	width: 90%;
	max-width: 1200px;
}
/*
================
Navbar 
================
*/
header{
	margin-bottom: 122px;
}
.menu{
    padding: 5px 0;
    background-color: #232F3E;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 100;
	width: 100%;
}
.seccion-superior-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
	padding-top: 5px;
	height: 80px;
	transition: .3s all ease-in-out;
	overflow: hidden;
}
.navbar-sticky{
	height: 0px;
	transition: .3s all ease-in-out;
}
.contenedor-logo-nav img{
    width: 100px;
}
.contenedor-opt-usr{
    display: flex;
    min-width: 80px;
    justify-content: flex-end;
}
.contenedor-busq-nav{
    width: 50%;
}
.contenedor-cuenta{
    margin: auto;
}
.contenedor-cuenta .dropdown-link{
    color: #fff;
}
.contenedor-cuenta .dropdown-item i{
    color: #000;
    font-size: 1.2rem;
}
.contenedor-carrito i
{
    color: #fff;
    font-size: 1.45rem;
}
.contenedor-carrito{
    position: relative;
	display: flex;
	justify-content: center;
}
.contador-carrito{
	background-color: #fd9934;
	height: 18px;
	width: 18px;
	line-height: 18px;
	margin-left: 5px;
	text-align: center;
	border-radius: 0 7px 7px 7px;
	color: #fff;
	font-weight: 500;
	font-size: .9rem;
}
.contenedor-enlaces-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu .contenedor-btn-nav{
    display: none;
    justify-content: space-between;
	margin-top: 5px;
}
.menu .contenedor-btn-nav button{
    font-size: 1.8rem;
    color: #fff;
    padding: 0px 8px;
    border: 1px solid transparent;
    border-radius: 4px;
    display: inline-block;
    cursor: pointer;
    background: none;
}
.menu .contenedor-btn-nav button:hover{
    border: 1px solid rgba(255, 255, 255, 0.603);
}
.menu .contenedor-btn-nav .btn-menu-cerrar{
   display: none;
}
.menu .contenedor-btn-nav .btn-menu-cerrar.activo{
    display: inline-block;
 }

.btn-categorias{
	color: rgba(255, 255, 255, 0.952);
	padding: 5px 10px;
	border: 1px solid transparent;
	border-radius: 4px;
	cursor: pointer;
	font-size: .9rem;
	position: relative;
	width: 120px;
	border: 1px solid rgba(255, 255, 255, 0.473);
	background-color: #232F3E;
}
.btn-categorias i{
    position: relative;
    left: 3px;
}
.menu .contenedor-enlaces-directos{
	display: flex;
	align-items: center;
}
.contenedor-enlaces-directos .direct__links{
    color: rgba(255, 255, 255, 0.842);
    padding: 5px 10px 5px 10px;
    border-radius: 4px;
    border: 1px solid transparent;
    font-size: .85rem;
    font-weight: 500;
}
.contenedor-enlaces-directos .direct__links:hover{
    background: #324255d3;
    border: 1px solid rgba(255, 255, 255, 0.411);
}
/*usuario*/
.user__list{
    list-style: none;
	position: relative;
}
.drop__list{
	border: 1px solid rgba(0, 0, 0, 0.05);
    position: absolute;
    background: #fff;
    list-style: none;
    top: 38px;
    padding-inline-start: 0px;
    padding:10px;
    margin: 0;
    z-index: 2;
    display: none;
	width: 180px;
	border-radius: 2px;
}
.drop__list.activo{
	z-index: 100;
	display: block;
}
.drop__list::before{
	content: "";
	display: block;
	background: transparent;
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 7px solid #fff;
	position: absolute;
	top: -7px;
	left: 45px;
}
.user__link{
    color: #000;
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
}
.user__link:hover{
    color: #E47911;
	font-weight: 600;
}
.icon-user-opt{
    font-size: .9rem;
}
.content__user .user__list .user__opt{
    color: rgba(255, 255, 255, 0.842);
	background: none;
    padding: 5px 10px 5px 10px;
    border-radius: 4px;
    border: 1px solid transparent;
    font-size: .85rem;
    font-weight: 500;
	text-transform: uppercase;
}
.content__user .user__list .user__opt:hover{
    background: #324255d3;
    border: 1px solid rgba(255, 255, 255, 0.411);
}
/*usuario*/
/* ------------------------- */
/* GRID */
/* ------------------------- */
.contenedor-grid {
	position: relative;
	border-radius: 2px;
}
.grid {
	width: 80%;
	display: none;
	position: absolute;
	top: calc(100% + 4px);
	z-index: 1000;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: 1fr;
	grid-template-areas: "categorias subcategorias";
	border: 1px solid rgba(0, 0, 0, 0.05);
}

.grid.activo {
	display: grid;
}

.grid::before {
	content: "";
	display: block;
	background: transparent;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #fff;
	position: absolute;
	top: -5px;
	left: 55px;
}

.grid > div {
	background: #fff;
}

/* ------------------------- */
/* Categorias */
/* ------------------------- */

.grid .btn-regresar {
	background: #232F3E;
	color: #fff;
	border: none;
	padding: 10px;
	border-radius: 3px;
	margin: 20px;
	font-size: 16px;
	cursor: pointer;
	display: none;
}

.grid .btn-regresar i {
	margin-right: 10px;
}

.grid .categorias {
	grid-area: categorias;
	padding-top: 10px;
	min-height: 300px;
	overflow: auto;
}

.grid .categorias .subtitulo {
	display: none;
}

.grid .categorias a {
	color: #000;
	font-size: 14px;
	display: flex;
	justify-content: space-between;
	padding: 10px 20px;
}

.grid .categorias a i {
	display: none;
}

.grid .categorias a:hover {
	color: #E47911;
	font-weight: 600;
}

.grid .categorias a:hover i {
	display: inline-block;
}

/* ------------------------- */
/* Subcategorias */
/* ------------------------- */

.grid .contenedor-subcategorias {
	grid-area: subcategorias;
}
/*nuevo*/
.grid .subcategoria {
	display: none;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	height: 100%;
}

.grid .subcategoria {
	display: grid;
}
.grid .enlaces-subcategoria {
	padding-top: 10px;
	height: 100%;
	max-height: 300px;
	overflow: auto;
}
/*nuevo*/
.grid .enlaces-subcategoria a {
	color: #000;
	font-size: 14px;
	padding: 10px 20px;
}
.grid .subcategoria a{
	display: none;
}
.grid .subcategoria a.activo{
	display: block;
}
/*nuevo*/

.grid .enlaces-subcategoria a:hover {
	color: #E47911;
}
/*nuevo*/
.grid .subtitulo {
	font-size: 18px;
	font-weight: normal;
	color: #E47911;
	padding: 10px 20px;
	display: none;
}

.grid .subtitulo.activo{
	display: block;
}
/*nuevo*/
/*Loader*/


/* ------------------------- */
/* Mediaqueies */
/* ------------------------- */
@media(max-width: 800px) {
	header{
		margin-bottom: 110px;
	}
	.menu .contenedor {
		width: 90%;
	}

	.menu .contenedor-btn-nav {
		display: flex;
	}

	.menu .contenedor-enlaces-nav {
		padding: 20px;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		position: fixed;
		left: 0;
		background: #232F3F;
		height: 100vh;
		width: 70%;
		z-index: 2000;
		transition: .3s ease all;
		transform: translate(-100%);
	}

	.menu .contenedor-enlaces-nav.activo {
		transform: translate(0%);
	}

	.menu .btn-categorias{
		width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
		cursor: pointer;
	}
	.menu .btn-categorias i{
		transform: rotate(-90deg);
	}
	.menu .contenedor-enlaces-directos{
        width: 100%;
		display: block;
    }
    .menu .contenedor-enlaces-directos a{
        margin: 10px 0;
        padding: 10px;
		display: block;
    }

	.grid {
		display: grid;
		transition: .3s ease all;
		transform: translateX(-100%);
		z-index: 3000;
		width: 80%;
		position: fixed;
		top: 0;
		left: 0;
		height: 100vh;
		grid-template-areas: "categorias categorias";
	}

	.grid.activo {
		transform: translateX(0%);
	}

	.grid::before {
		display: none;
	}

	.grid .btn-regresar {
		display: inline-block;
	}

	.grid .categorias .subtitulo {
		display: block;
	}

	.grid .contenedor-subcategorias {
		position: absolute;
		top: 0;
		width: 100%;
		height: 100%;
		transition: .3s ease all;
		transform: translateX(-100%);
		overflow: auto;
	}

	.grid .contenedor-subcategorias.activo {
		transform: translateX(0%);
	}

	.grid .contenedor-subcategorias .subcategoria {
		grid-template-columns: 1fr;
	}

	.grid .enlaces-subcategoria {
		min-height: 50vh;
		overflow: auto;
	}
	/*usuario*/
	.drop__list{
		position: static;
		background: #2f3e52;
		display: block;
		width: 100%;
		height: 0;
		overflow: hidden;
		transition: .3s all ease-in-out;
		padding: 0 10px;
		border-radius: 8px;
	}
	.drop__list::before{
		display: none;
	}
	.drop__list.activo-movil{
		height: 170px;
	}
	.user__link{
		color: #fff;
	}
	.content__user .user__list .user__opt{
		width: 100%;
		text-align: start;
		transition: .3s all ease-in-out;
	}

	/*usuario*/
}
@media(max-width: 695px){
	header{
		margin-bottom: 170px;
	}
	.seccion-superior-nav{
		padding: 0 !important;
		height: 120px;
		
	}
	.contenedor-logo-nav{
		width: 100%;
	}
	.contenedor-busq-nav{
		width: 50%;
	}
	.contenedor-opt-usr {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		width: 50%;
		margin: auto;
	}
	.contenedor-cuenta, .contenedor-carrito{
		margin: 0;
	}
	.contenedor-opt-usr{
		margin-top: 15px;
	}
}
/*
================ 
Fin Navbar
================
*/
/*
================
footer
================
*/
.footer-top {
    padding-top: 40px;
    padding-bottom: 30px;
 }
 .footer-bottom {
    padding-top: 30px;
    padding-bottom: 30px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
 }
 
 footer .footer-links a,
 footer .footer-links p,
 footer .social-icons a {
    color: #898fa1;
 }
 
 footer .social-icons a {
    font-size: 24px;
 }
 
 footer .footer-links a {
    display: block;
    font-weight: 400;
 }
 
 footer .social-icons a:hover,
 footer .footer-links a:hover {
    color: #eba117;
 }