.main-product-catalog{
    background-color: var(--primaryBackgroundColor);
}
.container-catalog{
    max-width: 1400px;
    margin: auto !important;
    padding:0 0 120px;    
}
.contenedor-catalogo{
    position: relative;
    display: flex;
}
/*breadcrumbs*/
.breadcrumbs{
    padding: 10px 5px;
    width: 100%;
    margin: 0;
}
.breadcrumbs .box-breadcrumbs{
    background-color: var(--secundaryBackgroundColor);
    border-radius: 4px;
    margin: 30px 0 0 0;
}
.breadcrumbs .breadcrumbs__item{
    display: inline-block;
}
.breadcrumbs .breadcrumbs__item:not(:last-of-type)::after{
    content: '/';
    margin: 0 5px;
    color: #cccccc;
}
.breadcrumbs .bradcrumbs--link{
    text-decoration: none;
    color: #999999;
}
.breadcrumbs .bradcrumbs--link:hover{
    text-decoration: underline;
    color: #F2994A;
}
.breadcrumbs .bradcrumbs--link--active{
    color: #F2994A;
    font-weight: 500;
}
/*breadcrumbs*/
/*filtros*/

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/*seccion superior*/
.seccion__superior{
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}
.seccion__superior span{
    color: rgba(0, 0, 0, .7);
    font-size: .9rem;
    font-weight: 500;
    text-align: center;
}
.seccion__superior select{
    padding: 3px;
    color: rgba(0, 0, 0, .5);
    outline: none;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, .3);
    border-radius: 3px;
    font-size: .95rem;
    letter-spacing: .3px;
}
.btn-mostrar-filtros{
    display: none;
    padding: 2px 8px;
    font-size: 1.5rem;
    outline: none;
    background: none;
    border: 1.5px solid #f2984ac4;
    border-radius: 4px;
    color: #f2984acb;
    transition: .5s;
}
.btn-mostrar-filtros:hover{
    color: #999999;
    border-color: #999999;
}
/*seccion izquierda*/
.seccion__izquierda{
    position: relative;
    max-width: 280px !important;
}
.contenedor-items-izq{
    width: 100% !important;
    z-index: var(--zIndexLayer5);
    background-color: var(--secundaryBackgroundColor);
    padding: 10px;
}
.titulo-filtro{
    color: rgba(0, 0, 0, .7);
    text-transform: uppercase;
    margin: 10px 0;
}
.titulo-filtro h2{
    font-size: 1.2rem;
    letter-spacing: 1px;
    font-weight: 500;
}
.titulo-filtro .hline{
    height: 2px;
    width: 60px;
    background-color: #F2994A;
}
.lista-filtros{
    padding: 10px 8px;
}
.lista-filtros h3{
    color: rgba(0, 0, 0, .7);
    text-transform: capitalize;
    font-size: 1rem;
    margin: 10px 0;
}
.titulo-secciones-filtro{
    display: flex;
    justify-content: space-between;
}
.titulo-secciones-filtro i{
    display: none;
}
.lista-filtros .check-item{
    padding: 10px 0 10px 10px;
    transition: .8s;
    display: flex;
    justify-content: space-between;
}
.lista-filtros .check-item p{
    margin: 0;
    color: rgba(0, 0, 0, .3);
    font-size: .85rem;
    font-weight: 500;
}
.lista-filtros .check-item span{
    margin: 0;
    color: rgba(0, 0, 0, .5);
}
.texto-item{
    font-size: .9rem;
}
.lista-filtros .precio-item{
    display: flex;
    justify-content: space-between;
}
.lista-filtros .precio-item .field input{
    width: 95%;
}
.lista-filtros .precio-item .filter-btn{
    position: relative;
    top: 21px;
}
.lista-filtros .precio-item .filter-btn button{
    height: 30px;
    width: 30px;
    border: 1px solid #d1d1d1;
    border-radius: 2px;
    color: rgb(80, 80, 80);
}
.lista-filtros .precio-item .field{
    width: 45%;
    max-width: 300px;
    color: rgba(0, 0, 0, .5);
    font-size: .9rem;
}
.lista-filtros .precio-item input{
    width: 100%;
    outline: none;
    border: 1px solid rgba(0, 0, 0, .3);
    padding: 3px 5px;
    color: rgba(0, 0, 0, .5);
    transition: .9s;
    font-size: .9rem;
}
.lista-filtros .precio-item input:focus{
    border: 1px solid #F2994A;
}
/*seccion derecha*/
.seccion__derecha{
    margin: auto;
}
.contenedor-productos{
    width: 100% !important;
    margin: 20px 0;
    display: flex;
    flex-wrap: wrap;
}
.item-producto {
    background-color: #fff;
    max-width: 280px;
    border-radius:2px;
    margin: auto;
    position: relative;
    border: 2px solid #f6f6f691;
}
.item-producto .producto-imagen img{
    width: 100%;
}
.item-producto .producto-imagen img,
.item-producto .producto-imagen .social-icons {
    transition: all 0.4s ease;
}

.item-producto .producto-imagen {
    position: relative;
    overflow: hidden;
}
.tag-producto{
    height: 30px;
    width: 45px;
    box-shadow: 0px 1px 6px 0px rgba(0,0,0,0.1);
    text-align: center;
    line-height: 28px;
    position: absolute;
    top: 5px;
    left: 5px;
    z-index: var(--zIndexLayer6);
    border-radius: 3px;
    background-color: var(--secondaryYellow);
    color: #fff;
}
.tag-producto span{
    font-size: .73rem;
    font-weight: 600;
    letter-spacing: .7px;
}

.item-producto .producto-imagen .social-icons {
    width: 100%;
    height: 50px;
    background: transparent;
    position: absolute;
    bottom: -50px;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.detalle-item-producto{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.item-producto .producto-imagen .social-icons a {
    width: 62px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(136, 136, 136, 0.151);
    font-size: 1.3rem;
    border-radius: 4px;
    margin-left: 4px;
    margin-right: 4px;
    transition: .3s;
    background-color: var(--lightBlue);
    color: #fff;
}
.item-producto:hover .producto-imagen .social-icons {
    bottom: 0;
}
.old-price{
    color: #bbbbbb;
    text-decoration: line-through;
    font-size: .8rem;
}
/*Seccion inferior*/
.seccion__inferior{
    padding: 10px 20px;
    display: flex;
    justify-content: center;
}
/*Responsivo*/

@media (max-width:767px) {
    /*filtros*/
    .btn-mostrar-filtros{
        display: block;
    }
    .seccion__izquierda{
        max-width: 100% !important;
    }
    .contenedor-items-izq{
        position: absolute;
        left: 0;
        transform: translateX(-100%);
        transition: .3s ease all;
        padding: 0 !important;
    }
    .contenedor-items-izq.activo{
        transform: translateX(0%);
        z-index: var(--zIndexLayer5);
    }
    /*secciones filtros*/
    .box-filtros{
        padding: 10px 10px;
        border-bottom: 1px solid rgba(0, 0, 0, .05);
        z-index: 1000;
    }
    .filtro-box{
        position: relative;
    }
    .check-item{
        border-bottom: hidden !important;
    }
    .titulo-secciones-filtro{
        position: relative;
        background-color: #f9f9f9;
        padding: 5px 10px;
        cursor: pointer;
        border: 1px solid rgba(0, 0, 0, .05);
        margin: 5px 0;
    }
    .titulo-secciones-filtro i{
        position: absolute;
        top: 15px;
        right: 15px;
        display: block;
        font-weight: 800;
        transition: .3s;
    }
    .titulo-secciones-filtro.activo i{
        transform: rotate(180deg);
    }
    .contenido-filtro{
        position: relative;
        height: 0;
        overflow: hidden;
        overflow-y: auto;
        transition: .4s ease all;
    }
    .titulo-secciones-filtro.activo ~ .contenido-filtro{
        height: 110px;
    }
    .check-item{
        margin: 0 15px;
    }
}
