:root{
    /*Colores*/
    --verde: #00D49C;
    --rojo: #ff0040;
    --azul: #0385B6;
}
.btn-default-yellow{
    border: none;
    padding: 5px 10px;
    background-color: var(--secondaryYellow);
    outline: none;
    color: #fff;
    border-radius: 2px;
    box-shadow: 0px 0px 17px -6px rgba(0,0,0,0.3);
    transition: .2s;
}

.btn-default-yellow:hover{
    opacity: 80%;
}

#volver-listar-direcciones{
    color: #707070;
    background-color: #ececec;
    padding: 5px 10px;
    border: 1px solid #f1f1f1;
    border-radius: 3px;
    outline: none;
    font-size: .9rem;
    font-weight: 400;
}
#btn-guardar-direc{
    margin-top: 25px;
}

.btn-default-red{
    border: none;
    padding: 5px 10px;
    background-color: var(--rojo);
    outline: none;
    color: #fff;
    border-radius: 2px;
    box-shadow: 0px 0px 17px -6px rgba(0,0,0,0.3);
    transition: .2s;
}

.btn-default-red:hover{
    opacity: 80%;
}

.tag-min-advertencia{
    color: #9b9b9b;
    font-size: .95rem;
    margin: 5px 0;
}

.contenedor-perfil{
    position: relative;
    max-width: 1150px;
    min-height: 415px;
    width: 100%;
    margin: 200px auto 100px auto;
    border: 2px solid rgba(0, 0, 0, .05);
    border-radius: 4px;
    padding: 20px;
}
.navegacion-perfil{
    position: absolute;
    height: calc(100% + 60px);
    top: -30px;
    max-width: 200px;
    width: 25%;
    background-color: var(--lightBlue);
    border-radius: 4px;
    padding: 20px 0;
}
.contenedor-alerta{
    max-width: 1000px;
    width: 100%;
    margin: auto;
    position: relative;
}
.box-contenido{
    display: none;
}
.activo{
    display: block;
}
.contenido-perfil{
    margin-left: 28%;
    width: 70%;
}
.navegacion-perfil .item-navegacion{
    width: 90%;
    margin: 7px auto;
    padding: 10px 5px;
    position: relative;
    overflow: hidden;
}
.navegacion-perfil .item-navegacion:before{
    content: '';
    border-left: 2px solid var(--secundaryOrange);
    border-top: 2px solid var(--secundaryOrange);
    height: 12px;
    width: 12px;
    position: absolute;
    right: -20px;
    top: 20px;
    transform: rotate(-45deg);
    transition: .2s;
}
.navegacion-perfil .item-navegacion:hover:before{
    right: 0;
}

.navegacion-perfil .item-navegacion .boton-seccion-perfil {
    padding: 3px;
    background: none;
    border: none;
    width: 100%;
    font-size: 1rem;
    color: #fff;
    font-weight: 500;
    border-radius: 4px;
    display: flex;
}
.navegacion-perfil .item-navegacion .boton-seccion-perfil span{
   margin-left: 15px;
}
/*lista de direcciones*/
.item-direccion{
    margin: 10px 0;
}
.item-direccion .opciones-direccion button{
    margin-left: 10px;
    margin-top: 5px;
    font-size: .9rem;
}
.item-direccion .titulo-item-direccion{
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
    background-color: #f3f3f3;
    align-items: center;
    border-radius: 4px;
    height: 45px;
    cursor: pointer;
}
.item-direccion .titulo-item-direccion h3{
    font-size: 1.1rem;
}
.item-direccion .titulo-item-direccion i{
    transition: .3s all ease-in-out;
}
.item-direccion .contenido-direccion{
    background-color: #eeeeee;
    height: 0;
    overflow: hidden;
    border-radius: 0 0 4px 4px;
    transition: .2s all ease-in-out;
}
.item-direccion .contenido-direccion p{
    font-size: .95rem;
    margin: 10px 10px;
}
.titulo-item-direccion.activo{
    border-radius: 4px 4px 0 0;
}
.titulo-item-direccion.activo ~ .contenido-direccion{
    height: 210px;
    overflow: auto;
}
.titulo-item-direccion.activo i{
    transform: rotate(180deg);
}
.box-direcciones .fila-locacion{
    justify-content: space-between;
}
/*table*/
.table-history{
    width: 90%;
    max-width: 615px;
    overflow-x: auto;
    border-collapse: collapse;
    margin-top: 40px ;
    margin-bottom: 40px ;
    background-color: #fff;
    border: 2px solid #f4f6fb;
    text-align: left;
}
.table-history thead{
    border: 2px solid #f4f6fb;
}
.table-history th{
    padding: .7rem 1.5rem;
    font-size: .95rem;
}
.table-history td{
    padding: .7rem .7rem;
    font-size: .85rem;
    position: relative;
}
.table-history tr:nth-child(even){
    background-color: #f4f6fb;
}
.status{
    padding: 4px 8px;
    text-align: center;
    border-radius: 4px;
    white-space: nowrap;
}
.status-pending{
    background-color: #fff0c2;
    color: #a68a00e3;
    border: 1px solid #a68a00e3;
}
.status-paid{
    background-color: #c8e6c9;
    color: #388e3c;
    border: 1px solid #388e3c;
}
.box-tabla-compras{
    overflow-x: auto;
    margin: auto;
}

@media(max-width: 600px){
    .navegacion-perfil{
        left: 0;
        width: 29%;
    }
    .navegacion-perfil .item-navegacion .boton-seccion-perfil {
        padding: 0;
    }
    .navegacion-perfil .item-navegacion .boton-seccion-perfil span{
        margin-left: 5px;
    }
}
@media(max-width:450px){
    .navegacion-perfil{
        width: 60px;
    }
    .navegacion-perfil .item-navegacion .boton-seccion-perfil span{
        display: none;
    }
    .navegacion-perfil .item-navegacion .boton-seccion-perfil i{
        font-size: 1.5rem;
        margin: auto;
    }
}