/*Contenedor detail*/
.section-detail-order{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container-detail-order, 
.contenedor-payment-denied{
    background-color: var(--secundaryBackgroundColor);
    border-radius: 4px;
    border: 1px solid #ebebeb;
}
.container-detail-order{
    padding: 50px;
    width: 70%;
}

.header-payment-denied .box-title-detail{
    display: flex;
    justify-content: center;
    padding: 70px 10px;
    background-color: #cc594f;
    color: #fff;
}
.header-payment-denied .box-title-detail i{
    font-size: 2rem;
    margin-right: 20px;
}
.header-payment-denied .box-payment-denied{
    text-align: center;
    padding: 30px 20px;
}
.header-payment-denied .box-payment-denied h4{
    color: #464646;
    margin-bottom: 20px;
}
.warning-payment-denied{
    display: flex;
    justify-content: center;
    align-items: baseline;
    margin: 50px 10px;
    padding: 25px 10px;
    background-color: #ffc30f7c;
    border-radius: 2px;
}
.warning-payment-denied i{
    margin-right: 20px;
}

.warning-payment-denied p{
    color: #464646;
    margin: 0;
    font-weight: 500;
}

.payment-denied-help{
    display: flex;
    justify-content: center;
    align-items: center;
}
/**/

.table-summary{
    width: 90%;
    max-width: 400px;
    overflow-x: auto;
    border-collapse: collapse;
    margin-top: 40px ;
    margin-bottom: 40px ;
    background-color: #fff;
    border: 2px solid #f4f6fb;
    text-align: left;
}
.table-summary td{
    padding: .7rem .7rem;
    font-size: .85rem;
    position: relative;
    text-align: center;
}
.table-detail{
    width: 100%;
    overflow-x: auto;
    border-collapse: collapse;
    margin-top: 40px;
    margin-bottom: 40px ;
    background-color: #fff;
    border: 2px solid #f4f6fb;
    text-align: left;
}
.table-detail thead{
    border: 2px solid #f4f6fb;
}
.table-detail th{
    padding: .7rem 1.5rem;
    font-size: .95rem;
    text-align: center;
}
.table-detail td{
    padding: .7rem .7rem;
    font-size: .85rem;
    position: relative;
    text-align: center;
}
.table-detail tr:nth-child(even){
    background-color: #f4f6fb;
}
.box-tabla-compras{
    overflow-x: auto;
    margin: auto;
}
/*links*/
.opts-purchase-detail{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

@media(max-width:725px){
    .container-detail-order{
        width: 100%;
        margin: 0px 10px;
    }
}
