.container__globalconfig{
    background-color: #fff;
    margin-top: 30px;
    padding: 1px 10px 20px 10px;
}
.global__config{
    width: 100%;
    max-width: 1200px;
    margin: 30px auto 40px auto;
}
.global__config .title__section{
    width: 100%;
    display: flex;
    align-items: center;
    margin: 15px 0;
    background-color: rgba(0, 0, 0, .8);
    color: #fff;
    padding: 10px 10px;
    margin-top: 60px;
    margin-bottom: 25px;
}
.global__config .title__section h3{
    font-size: 1.1rem;
    margin: 0;
}
.global__config .fila-config{
    margin: 13px 0 !important;
}
.btn-globalconfig-box{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.contenedor-logo{
    display: flex;
    align-items: center;
}
.contenedor-logo .img-logo{
    width: 100px;
}
.fila-config{
    display: flex;
    align-items: center;
}
/*Switches*/
.switch-box{
    padding: 10px;
}
.lbl-switch{
    display: inline-flex;
    align-items: center;
    cursor: pointer;
    width: 55px;
    height: 30px;
    background-color: #aaa;
    border-radius: 100px;
    position: relative;
    cursor: pointer;
}
.lbl-switch:after{
    position: absolute;
    content: '';
    width: 22px;
    height: 22px;
    background: #fff;
    border-radius: 100px;
    top: 4px;
    left: 5px;
    transition: .3s;
}
#btn-webpay{
    display: none;
}
#btn-webpay:checked ~ .lbl-switch{
    background-color: #61A0FF;
}
#btn-webpay:checked ~ .lbl-switch:after{
    left: 28px;
}

#btn-transferencia{
    display: none;
}
#btn-transferencia:checked ~ .lbl-switch{
    background-color: #61A0FF;
}
#btn-transferencia:checked ~ .lbl-switch:after{
    left: 28px;
}  